{% load static %}

<div class="col-1-4" id="av_{{av.id}}">
    <article class="post-wrap">
        {% if not game_page %}
            <div class="post-img">
                <a href="#0"><img src="/media/{{av.game.imagem.thumbnail}}" alt=""></a>
            </div>
        {% endif %}
        <div class="post">
            {% if not game_page %}
                <h2 class="entry-title"><a href="{% url 'game_page' pk=av.game.id %}">{{av.game.nome}}</a></h2>
                <h4 style="margin: 10px;">{{av.game.categoria.nome}}</h4>
            {% endif %}

            <div class="post-meta" style="margin: 10px 0px 0px;">
                {% include 'rating_stars_simple.html' %}
            </div>
            <div style="font-size: 11px;">
                <span style="color: #72aea2;">por @{{av.user.username}}<span>
            </div>
            <div class="descricao_anotacao">
                {{av.comentario}}
            </div>
            {% if user.id != av.user.id%}
                {% if user in av.users_liked.all %}
                    <span class="marcada-util">Marcada como útil <i class="fas fa-check"></i></span>
                    <span style="float: right;"><i class="fas fa-check-circle"></i>  {{av.users_liked.count}}</span>

                {% else %}
                    {% if game_page %}
                        <a class="marcar-util" href="{% url 'marcar_como_util_game_page' av_id=av.id game_page=1 %}">Marcar Como Útil</a>
                    {% else %}
                        <a class="marcar-util" href="{% url 'marcar_como_util' av_id=av.id %}">Marcar Como Útil</a>
                    {% endif %}
                    <span style="float: right;"><i class="fas fa-check-circle"></i>  {{av.users_liked.count}}</span>
                {% endif %}
            {% endif %}
        </div>
    </article>
</div>
