{% load static %}

<div class="col-1-4 mix {{section}}">
    <div class="content">
        <div class="game-card">
            <img src="/media/{{game.imagem.thumbnail}}" alt="">                                    
            <div class="overlay">
                <span>{{game.categoria.nome}}</span>
                <h2>
                    <a class="img-wrap" data-rel="lightcase:{{section}}" 
                       title="{{game.nome}} - {{game.categoria.nome}}" 
                       href="/media/{{game.imagem.thumbnail}}">

                        {{game.nome}}
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>