
{% if not av.modify %}
    {% for x in range1_5 %}
        {% if x <= av.av.rating %}
            <span><i class="fas fa-star" style="color: yellow; font-size: 1.5rem;"></i></span>
        {% else %}
            <span><i class="fas fa-star" style="color: #d5d5d5; font-size: 1.5rem;"></i></span>
        {% endif %}
    {% endfor %}

{% else %}
<fieldset class="rating" style="margin-left: 15%;">
    {% for x in range6_1 %}
        {% if x != av.av.rating %}
            <input type="radio" id="star{{x}}" name="rating" value="{{x}}"/>
        {% else %}
            <input type="radio" id="star{{x}}" name="rating" value="{{x}}" checked/>
        {% endif %}
        <label class="full" for="star{{x}}"></label>
    {% endfor %}
</fieldset>
{% endif %}
