{% load static %}

<!-- Footer -->
<footer class="wrap">
    <div class="grid grid-pad" >
        <div class="col-1-1" >
            <div class="content">
                <div class="footer-widget" style="text-align: center;">
                    <p> <span style="font-weight: bold">Turma 5J</span><br/>
                        Álvaro Biazon Pessoa - 3193221-5<br/>
                        Guilherme Shimizu Brisghello - 3192062-4<br/>
                        Leonardo Lime Roques - 3192390-9<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="social-footer">
        <div class="grid grid-pad">
            <div class="col-1-1" >
                <div class="content">
                    <div class="social-set">
                        <a href="https://github.com/AlvaroBiazonPessoa/GoodBrowserGames"><i class="icon-github"></i></a>
                    </div>
                    <p class="copyright">© 2022 | Fernando Saeta | fernando.r.saeta@gmail.com | <a href="https://github.com/FSaeta">GitHub</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->