{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Parallax Section -->
    <div class="parallax-section parallax1">
        <div class="grid grid-pad">
            <div class="col-1-1">
                    <div class="content content-header" >
                    <h2>Good Browser Games (versão demo)</h2>
                    <p> Versão de demonstração para a primeira entrega do projeto “GoodBrowserGames”, que tem
                        como objetivo ser o centro principal para compartilhamento de experiências e
                        informações sobre jogos de navegador que estão disponíveis na web.
                    </p>
                    <p>Os requisitos para a primeira entrega podem ser executados a partir da Área da Administração.</p>
                    <a class="btn btn-ghost" href="/admin">Administração do Site</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}